@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
body{
  padding: 0px;
  font-family: 'Arvo', serif;
  font-weight: 300;
  line-height: 1.42em;
  background-color: #181b1e;
  height: 100vh;
}
#gradient {
    background-color: rgba( 0, 0, 0, 0.3);
    border-radius: 20px;
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  margin: 0;
}
h1 span {
    color: #ffffff;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
      display: table;
      border-radius: 12px;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
      padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: hsl(220, 12%, 12%);
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: hsl(222, 12%, 12%);
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }
.container td:last-child { color: #f5f5f5; } 

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}